<!DOCTYPE html>
<html>
  <head>
    <title><%- site.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
      </div>
    </div>
    

    <div class="container">
      <div class="jumbotron">
        <h1><%- site.title %></h1>
        <p><%- site.description %></p>
        <a href="<%- project.github %>"  class="btn btn-info" role="button" target="_blank"><i class="fa fa-github"></i> Project on Github</a>
      </div>
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <div class="list-group">
            <% if (site.navlist) { %>
              <% var nl = site.navlist; %>
              <% for (var key in nl) {%>
                <a href="#<%- key %>" class="list-group-item"><%- nl[key] %></a>
              <% } %>
            <% } %>
          </div>
        </div><!-- /.col-sm-3 -->
        <div class="col-sm-9">
          <div class="panel">
            <div class="panel-heading">
              <% if (site.paneltitle) { %>
                <h3 class="panel-title"><%- site.paneltitle %></h3>
              <% } %>

            </div>
            <div class="panel-body">
              <%- yield %>
            </div>
          </div>
        </div><!-- /.col-sm-9 -->
      </div>
    </div>
    <% var d = new Date();  %>
    <div id="footer" class="footer">
      <div class="container">
        <p>
          &copy; <%= d.getFullYear()  %> <a href="<%- project.author.website %>" target="_blank"><%- project.author.name %></a>
          &nbsp;&nbsp;|&nbsp;&nbsp; 
          <%- site.title %> licensed under <a href="<%- project.license.url %>" target="_blank"><%- project.license.type %></a>
        </p> 
        <p><em><strong>Last Updated:</strong> <%= d.toDateString() %></em></p>
      </div>
    </div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>